<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| BLOGPOST CREATE |</title>
</head>
<link rel="stylesheet" href="static/assets/css/style.css">
<body style="background-color: whitesmoke;">
    <button  style="border:1px solid whitesmoke;background-color: whitesmoke;padding-left:620px;padding-top: 300px;"><a class="ahov"
         href="/reblog" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         text-decoration:none;color:whitesmoke;font-size: 20px;border:1px solid lightslategray;
         background-color: lightslategray;" >CREATE NEW BLOG</a></button>
</body>