<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| BLOGPOST |</title>
</head>
<link rel="stylesheet" href="static/assets/css/style.css">
<body style="margin-top:0px;padding-top: 0px;">
    <div class="section1" style="background-image:static\assets\images\blog_mBg;">
    <nav class="navm">
        <div> 
            <h1 style="margin-top:0px;margin-left:20px;padding-top: 35px;width:fit-content;font-size: 40px;">BlogHUB<a href="/signin"><button class="navv">SIGN IN</button></a></h1>
            
            
        </div> 
    </nav>
        <a href="/login"><button class="create">CREATE YOUR BLOG</button></a>
        </div>
    </div>

    <!-- section 2  -->
    <div class="section2">
        <div style="padding:150px;padding-top: 80px;">
            <h1 style="color: white;">EXPLORE THE WORLD </h1>
            <h5 style="color: white;">CONNECT US</h5>
        </div>
    </div>
    <div class="section3">
        <div style="padding-top:200px;padding-left: 580px;">
            <h2 > SOME CONTENT </h2>
        </div>
    </div>
    <div class="section4">
        <div style="padding-top:150px;padding-left: 600px;">
            <h1 style="color: white">Section4</h1>
        </div>
        
    </div>
    <footer class="in_footer">
        <div style="padding-top:200px;padding-left: 580px;">
            <h1 style="color: white;">Footer content </h1>
        </div>
    </footer>
        

</body>