<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| Blog |</title>
</head>
<link rel="stylesheet" href="static/assets/css/style.css">
<body class=" dis">
    <div class="info">
        <div class="prof">
            <img src="/static/assets/images/pro_l.jpg" style="border-radius:250px;padding: none;margin-top: 100px;margin-left:80px">
        </div>
        <div class="nme" >
            <h3 style="color: white;margin-left:110px" > {{name}}</h3>
            
                <p   style="color: black;margin-left: 500px;border:2px 2px white;background-color: antiquewhite;" >{{title}}</p>
                <p   style="color: black;margin-left: 500px;" >{{description}}</p>
            


            <!--script>
                let k=document.getElementsByClassName('Name').value;
                for( let i of k)
                {
                    <h3 style="color: white;margin-left:110px" >console.log(i)</h3>
         
                }
            </script-->


        </div>
        
    </div>
    <!-- <div class="data" style="margin-top: 100px;"> 
    
        <div class="headi" style="margin-top: 300px;margin-left: 500px;">
            <h2 style="color: black;margin-left: 500px;">title</h2><h6 style="color: black" >{{title}}</h6>
            <h2 style="color: white;">description</h2><h6 style="color: black;" >{{description}}</h6>
        </div-->
    </div>
    
</body>